// Navigation Styles here
.header nav{
    max-width:70%;
    float:right;
    margin-right: 70px;
  }

.header nav a { 
  text-decoration: none;
  color:@shark;
    font-size:14px;
    padding-left:20px;

    @media @phone {

        .header nav {
            width:50%;
        }

        .header nav a {
        margin-left:25px;
        }
  
  }
}
